ion-card{
	--ion-background-color: linear-gradient(to top, #3b929e 0%, #71ceda 100%) !important;
	 color: #FFF;  
}
ion-card-title{
	text-align: center;
	color: #0f4248;
	font-weight: 800;
}
.ion-item{
	display: flex;
}
h2{
	font-size: 24px;
	font-weight: 700;
	color: #cff0f4;
}
h3 {
	font-size: 24px;
	font-weight: 700;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn ion-button{
	font-weight: 800;
}



// =======le css du modal

.ion-padding {
    --ion-background-color: linear-gradient(to top, #1d6771 0%, #71ceda 100%);  color: #FFF;  
}
ion-item,ion-select,ion-select-option {
    --ion-background-color: transparent!important;
    padding-top: 10px;
    font-weight: 700;
    color: #FFF;
}

.btn{
    padding-top: 19px;
    font-size: large;
    font-weight: 900;
    height: 70px !important;
  }

.connexion{
    padding-top: 10px;
    color: #FFF;
}
.connexion a{
    color: blue;
    font-weight: 900;
}
.connexion a:hover{
    color: rgb(31, 31, 253) !important;
    text-decoration: none !important;
}