<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-thumbnail slot="start">
      <img src="../../assets/images/logo.png" >
    </ion-thumbnail>
    <ion-title>
      Products Management
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="body">

  <div id="container">
    <strong>Bienvenue sur Products Management</strong>
    <p>Une application de gestion de stockage</p>
  </div>
  <div class="abonne">
    <ion-button color="primary" href="/registre" class="btn2" expand="block" shape="round">Inscription</ion-button>
    <br>
    <ion-button color="success" href="/login" class="btn1" expand="block" shape="round" >Connexion</ion-button>
  </div>
</ion-content>